{% extends "@admin/layouts/page.html.twig" %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block body_matter %}
<div id="crud6vue-list-app">
    <crud6-vue-list-view :model="'{{ model }}'"></crud6-vue-list-view>
</div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ assets.compiled('crud6-vue') }}"></script>
{% endblock %}